// begin header-page
.header-page {
    @include bg-color(color-primary-100);
    > div {
        > ul {
            @include center;
            height: 10rem;

            > li {
                &:not(:last-child) {margin-right: 1.5rem;}
                > a {
                    @include transition;
                    @include color(color-white);
                    font-weight: 500;
                    &:hover {
                        @include color(color-neutral-500);
                    }
                }
            }
        }
    }
}
// end header-page

// begin loading
.loading {
    display: block;
    width: 10rem;
    @include responsive(480px) {
        margin: 0 auto;
    }
}
// end loading

// begin tag main
main {
    @include bg-color(color-neutral-600);
    min-height: calc(100vh - 20rem);
}
// end tag main

// begin s-list-posts
.s-list-posts {
    padding: 6rem 0;
    > div {
        > header {
            margin-bottom: 4rem;
            > h1 {@include title;}
        }
        > nav {
            > ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 2rem;
                > li {height: 100%}
            }    
        }
    }
    @include responsive(480px) {
        padding: 4rem 0;
        > div {
            > header {
                margin-bottom: 2rem;
            }
            > nav {
                > ul {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
.card-post {
    @include bg-color(color-white);
    @include color(color-neutral-100);
    @include transition;
    display: grid;
    height: 100%;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba($color-neutral-100,.4);
    > article {
        > header {
            margin-bottom: 1rem;
            > h2 {
                font-weight: bold;
                font-size: var(--font-size-x-medium);
            }
        }
    }
    &:hover {
        @include color(color-primary-100);
        transform: scale(1.03);
    }
    @include responsive(480px) {
        text-align: center;
    }
}
// end s-list-posts

// begin s-show-post
.s-show-post {
    padding: 6rem 0;
    > div {
        > header, > article > header {
            > h1, > h2 {
                @include title;
                margin-bottom: 2rem;
            }
            > p {
                font-size: var(--font-size-x-medium);
            }
        }
        > article {
            > header {
                > p {font-weight: 600}
            }
            > a {
                @include button;
            }
        }
        > ul, > article {
            margin-top: 3rem;
            padding-top: 3rem;
            border-top: .1rem solid rgba($color-neutral-500, .5);
        }
        > ul {
            > h2 {
                @include title;
                margin-bottom: 2rem;
            }
            > div {
                > li {
                    &:not(:last-child) {
                        border-bottom: .1rem dotted $color-neutral-500;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
.card-comment {
    > a {
        @include color(color-primary-200);
        @include transition;
        font-size: var(--font-size-x-small);
        &:hover {
            @include bg-color(color-primary-100);
        }
    }
    > h3 {
        font-size: var(--font-size-x-medium);
        font-weight: bold;
        margin: .7rem 0;
    }
}
.not-exist {
    > p {@include title;}
    > a {@include button}
}
// end s-show-post

// begin s-list-users
.s-list-users {
    padding: 6rem 0;
    > div {
        > header {
            margin-bottom: 4rem;
            > h1 {@include title;}
        }
        > nav {
            > ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 2rem;
                > li {height: 100%}
            }    
        }
    }
}
.card-user {
    @include bg-color(color-white);
    @include color(color-neutral-100);
    @include transition;
    display: grid;
    height: 100%;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem 0 rgba($color-neutral-100,.4);
    > article {
        > strong {
            font-size: var(--font-size-x-medium);
        }
        > header {
            margin: 1rem 0;
            > h2 {
                font-weight: bold;
                font-size: var(--font-size-x-medium);
            }
        }
    }
    &:hover {
        @include color(color-primary-100);
        transform: scale(1.03);
    }
}
// end s-list-users

// begin s-show-users
.s-show-users {
    padding: 6rem 0;
    > div {
        > header {
            margin-bottom: 2rem;
            > h1 {
                @include title;
            }
        }
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
            > li {
                font-size: var(--font-size-x-medium);
                > p {
                    margin-top: .5rem;
                    > a {   
                        @include transition;
                        @include color(color-primary-200);
                        &:hover {
                            @include color(color-primary-100);
                        }
                    }
                }
            }
        }
        > div {
            margin-top: 3rem;
            padding-top: 1rem;
            border-top: .1rem dotted $color-neutral-500;
            > p {
                @include title;
                margin-bottom: 2rem;
            }
        }
    }
    
}
// end s-show-

// begin s-error
.s-error {
    padding: 6rem 0;
    > div {
        @include center;
        flex-direction: column;
        text-align: center;
        > header {
            > h1 {
                @include title;
                margin-bottom: 2rem;
            }
            > p {font-size: var(--font-size-x-medium)}
        }
        > a {
            @include button;
        }
    }
   
}
// end s-error

// begin footer-page
.footer-page {
    @include bg-color(color-primary-100);
    @include color(color-white);
    @include center;
    > div {
        @include center;
        text-align: center;
        font-size: 1.2rem;
        height: 10rem;
    }
}
// end footer-page